.search-bar-container {
    display: flex;
    align-items: center;
  
    border-radius: 50px; /* Rounded corners */
    padding: 5px 10px; /* Padding for the container */
    background:  /* Background gradient */
                linear-gradient(90deg,  #8f8f8fa6,#e7e7e7a6) border-box; /* Gradient border */

    margin: 5px 0;
  }
  
  .search-input {
    border: none; /* No border for input */
    outline: none; /* Remove outline */
    margin-left: 4px; /* Space between icon and input */
    font-size: 14px; /* Font size */
    padding: 5px 10px; /* Padding for input */
    border-radius: 20px; /* Rounded corners */
    flex-grow: 1; /* Input takes the remaining space */
  }
  
  .search-icon {
    color: #ffffff; /* Icon color */
    font-size: 16px; /* Icon size */
  }
  